.done{
	text-decoration: line-through;
	opacity: .5;
}

#todos{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#todos li{
	padding: 15px 0 15px 0;
	border-bottom: 1px solid #eee;
}

.deleteItem{
	float: right;
	color: red;
	cursor: pointer;
}

input[type=checkbox]{
	margin-right: 15px;
}

.editText{
	display: none;
}

.saveItem{
	display: none;
	margin-left: 10px;
}